<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		<h1 class="aw-page-title">Serviço</h1>

		<f:metadata>
			<o:viewParam name="servico" value="#{cadastroServicoBean.servico}" />
		</f:metadata>


		<h:form id="frm">
			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:button value="Novo" />
					<p:commandButton value="Salvar" id="botaoSalvar"
						action="#{cadastroServicoBean.salvar}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Pesquisa" outcome="/estoque/PesquisaServicos"/>
				</p:toolbarGroup>
			</p:toolbar>

			<p:messages autoUpdate="false" />
			<p:panelGrid columns="2" id="painel"
				style="width: 100%; margin-top: 20px" columnClasses="rotulo, campo">

				<p:outputLabel value="Status" for="status" />
				<p:selectOneMenu value="#{cadastroServicoBean.servico.status}"
					id="status" filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
					<f:selectItems value="#{cadastroServicoBean.status}" var="status"
						itemValue="#{status}" itemLabel="#{status.descricao}" />
				</p:selectOneMenu>


				<p:outputLabel value="Nome" for="nome" />
				<p:inputText id="nome" size="60" maxlength="80"
					value="#{cadastroServicoBean.servico.nome}" />
					
				<p:outputLabel value="Valor Serviço" for="valorServico" />
				<p:inputText id="valorServico" size="60" maxlength="80"
					value="#{cadastroServicoBean.servico.valorServico}" />	

			</p:panelGrid>



		</h:form>
	</ui:define>

</ui:composition>