<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		<h1 class="aw-page-title">Produto</h1>

		<f:metadata>
			<o:viewParam name="produto" value="#{cadastroProdutoBean.produto}" />
			<f:viewAction action="#{cadastroProdutoBean.prepararCadastro}" />
		</f:metadata>

		<h:form>
			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:button value="Novo" />
					<p:commandButton value="Salvar" id="botaoSalvar"
						action="#{cadastroProdutoBean.salvar}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Pesquisa" outcome="/estoque/PesquisaProdutos" />
				</p:toolbarGroup>
			</p:toolbar>

			<p:messages autoUpdate="false" />

			<p:tabView scrollable="true">
				<p:tab title="Cadastro">
					<h:panelGrid columns="6" columnClasses="label, value">


						<p:outputLabel value="Status" for="status" />
						<p:selectOneMenu value="#{cadastroProdutoBean.produto.status}"
							id="status" filter="true" filterMatchMode="contains">
							<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
							<f:selectItems value="#{cadastroProdutoBean.status}" var="status"
								itemValue="#{status}" itemLabel="#{status.descricao}" />
						</p:selectOneMenu>


						<h:outputText value="Sku: *" for="sku" />
						<p:inputText value="#{cadastroProdutoBean.produto.sku}"
							label="Sku" id="sku" />

						<h:outputText value="Nome: *" for="nome" />
						<p:inputText value="#{cadastroProdutoBean.produto.nome}"
							label="Nome" id="nome" />

						<p:outputLabel value="Marca" for="marca" />
						<p:selectOneMenu value="#{cadastroProdutoBean.produto.marca}"
							id="marca" filter="true" filterMatchMode="contains">
							<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
							<f:selectItems value="#{cadastroProdutoBean.todasMarcas}"
								var="marca" itemValue="#{marca}" itemLabel="#{marca.nome}" />
						</p:selectOneMenu>

						<p:outputLabel value="Modelo" for="modelo" />
						<p:selectOneMenu value="#{cadastroProdutoBean.produto.modelo}"
							id="modelo" filter="true" filterMatchMode="contains">
							<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
							<f:selectItems value="#{cadastroProdutoBean.todosModelos}"
								var="modelo" itemValue="#{modelo}" itemLabel="#{modelo.nome}" />
						</p:selectOneMenu>

						<p:outputLabel value="Fornecedor" for="fornecedor" />
						<p:selectOneMenu value="#{cadastroProdutoBean.produto.pessoa}"
							id="fornecedor" filter="true" filterMatchMode="contains">
							<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
							<f:selectItems value="#{cadastroProdutoBean.todasPessoas}"
								var="pessoa" itemValue="#{pessoa}" itemLabel="#{pessoa.nome}" />
						</p:selectOneMenu>

						<p:outputLabel value="Unidade" for="unidade" />
						<p:selectOneMenu value="#{cadastroProdutoBean.produto.unidade}"
							id="unidade" filter="true" filterMatchMode="contains">
							<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
							<f:selectItems value="#{cadastroProdutoBean.unidade}"
								var="unidade" itemValue="#{unidade}"
								itemLabel="#{unidade.descricao}" />
						</p:selectOneMenu>

						<h:outputText value="Informações Adicionais: " />
						<p:inputTextarea
							value="#{cadastroProdutoBean.produto.informacoes}"
							label="informacoes" />
					</h:panelGrid>

				</p:tab>
				<p:tab title="Custo">
					<h:panelGrid columns="2" columnClasses="label, value">

						<h:outputText value="Valor unitário: *" />
						<p:inputText value="#{cadastroProdutoBean.produto.valorUnitario}"
							required="true" label="valorUnitario" />
					</h:panelGrid>

				</p:tab>
				<p:tab title="Estoque">
					<h:panelGrid columns="2" columnClasses="label, value">

						<h:outputText value="Quantidade em estoque: *" />
						<p:inputText
							value="#{cadastroProdutoBean.produto.quantidadeEstoque}"
							required="true" label="quantidadeEstoque" />

						<h:outputText value="Estoque Minimo: *" />
						<p:inputText value="#{cadastroProdutoBean.produto.estoqueMinimo}"
							required="true" label="estoqueMinimo" />
					</h:panelGrid>
				</p:tab>
			</p:tabView>
		</h:form>
	</ui:define>
</ui:composition>
