<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		
		<h:form id="frmPesquisa">
			<h1>Pesquisa de serviços</h1>

			<p:messages autoUpdate="true" closable="true" />

			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:commandButton value="Pesquisar"
						action="#{pesquisaServicosBean.servicosList}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Novo" outcome="/estoque/CadastroServicos" />
				</p:toolbarGroup>
				

			</p:toolbar>

			<p:dataTable id="servicosTable"
				value="#{pesquisaServicosBean.servicosList}"
				var="servico" style="margin-top: 20px"
				emptyMessage="Nenhum serviço encontrado." rows="20" paginator="true"
				paginatorAlwaysVisible="false" paginatorPosition="bottom">
				
								
				<p:column headerText="Status" style="text-align: center"
					sortBy="#{servico.status}" width="100">
					<h:outputText value="#{servico.status}"/>
						
				</p:column>
				
			
				<p:column filterBy="#{servico.nome}" headerText="Nome"
					filterMatchMode="contains" style="text-align: center; width: 120px">
					<h:outputText value="#{servico.nome}" />
				</p:column>
				
												
				<p:column headerText="Valor serviço" style="text-align: center"
					sortBy="#{servico.valorServico}" width="100">
					<h:outputText value="#{servico.valorServico}">
						<f:convertNumber type="currency" />
					</h:outputText>
				</p:column>
				
							

				<p:column style="width: 100px; text-align: center">
					<p:button outcome="/estoque/CadastroServicos" icon="ui-icon-pencil"
						title="Editar">
						<f:param name="servico" value="#{servico.id}" />
					</p:button>
				</p:column>

			</p:dataTable>

			
		</h:form>
	</ui:define>
</ui:composition>