<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		<style type="text/css">
.colored {
	background-color: #FF0000;
	color: #FFFFFF;
}
</style>
		<h:form id="frmPesquisa">
			<h1>Pesquisa de produtos</h1>

			<p:messages autoUpdate="true" closable="true" />

			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:commandButton value="Pesquisar"
						action="#{pesquisaProdutosBean.produtosList}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Novo" outcome="/estoque/CadastroProdutos" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="QR Code" outcome="/estoque/QrCodeProdutos" />
				</p:toolbarGroup>

			</p:toolbar>

			<p:dataTable id="produtosTable"
				value="#{pesquisaProdutosBean.produtosList}"
				rowStyleClass="#{produto.quantidadeEstoque le produto.estoqueMinimo ? 'colored' : null}"
				var="produto" style="margin-top: 20px"
				emptyMessage="Nenhum produto encontrado." rows="20" paginator="true"
				paginatorAlwaysVisible="false" paginatorPosition="bottom">
				
								
				<p:column headerText="Status" style="text-align: center"
					sortBy="#{produto.status}" width="100">
					<h:outputText value="#{produto.status}"/>
						
				</p:column>
				
				<p:column filterBy="#{produto.sku}" headerText="SKU"
					filterMatchMode="contains" style="text-align: center; width: 100px">
					<h:outputText value="#{produto.sku}" />
				</p:column>
				
				<p:column filterBy="#{produto.nome}" headerText="Nome"
					filterMatchMode="contains" style="text-align: center; width: 120px">
					<h:outputText value="#{produto.nome}" />
				</p:column>
								
				<p:column headerText="Valor unitário" style="text-align: center"
					sortBy="#{produto.valorUnitario}" width="100">
					<h:outputText value="#{produto.valorUnitario}">
						<f:convertNumber type="currency" />
					</h:outputText>
				</p:column>
				
				<p:column headerText="Estoque" style="text-align: center"
					sortBy="#{produto.quantidadeEstoque}" width="100">
					<h:outputText value="#{produto.quantidadeEstoque}"/>
					
				</p:column>

				
				<p:column filterBy="#{produto.estoqueMinimo}"
					headerText="Estoque Mínimo" filterMatchMode="contains"
					style="text-align: center; width: 120px">
					<h:outputText value="#{produto.estoqueMinimo}" />
				</p:column>
				

				<p:column style="width: 100px; text-align: center">
					<p:button outcome="/estoque/CadastroProdutos" icon="ui-icon-pencil"
						title="Editar">
						<f:param name="produto" value="#{produto.id}" />
					</p:button>
				</p:column>

			</p:dataTable>

			<h:commandLink id="excel">

				<p:graphicImage library="reobotnet" name="images/excel.png" />
				<p:dataExporter type="xls" target="produtosTable"
					fileName="Produtos"
					postProcessor="#{customizedDocumentsView.postProcessXLS}" />
			</h:commandLink>
		</h:form>
	</ui:define>
</ui:composition>