<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">

		<h:form id="frmPesquisa">
			<h1>Pesquisa de produtos</h1>

			<p:messages autoUpdate="true" closable="true" />

			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:commandButton value="Pesquisar"
						action="#{pesquisaProdutosBean.produtosList}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Novo" outcome="/produtos/CadastroProdutos" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="QR Code" outcome="/produtos/QrCodeProdutos" />
				</p:toolbarGroup>

			</p:toolbar>

			<p:panelGrid columns="2">



				<h:outputText value="QR" />
				<p:barcode value="#{produto.nome}" type="qr" />

				<h:outputText value="QR" />
				<p:barcode value="0123456789" type="qr" />


			</p:panelGrid>

		</h:form>


	</ui:define>
</ui:composition>
