<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	 xmlns:o="http://omnifaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		<h1 class="aw-page-title">Usuário</h1>
		
		<f:metadata>
			<o:viewParam name="usuario" value="#{cadastroUsuarioBean.usuario}" /> 
		</f:metadata>

		<h:form>
		    <p:toolbar style="margin-top: 0px; margin-bottom: 10px">
	    		
	    		<p:toolbarGroup align="right">
	    			<p:button value="Pesquisa" outcome="/usuarios/PesquisaUsuarios" />
	    		</p:toolbarGroup>
	    	</p:toolbar>

         
			<p:growl id="growl" sticky="true" showDetail="true" />
            
			<p:wizard flowListener="#{cadastroUsuarioBean.onFlowProcess}">
				<p:tab id="pessoal" title="Pessoal">
					<p:panel header="Detalhes pessoais">
						<p:messages />
						<h:panelGrid columns="2" columnClasses="label, value">
							<h:outputText value="Nome: *" />
							<p:inputText value="#{cadastroUsuarioBean.usuario.nome}" required="true"
								label="Nome" />

							<h:outputText value="SobreNome: *" />
							<p:inputText value="#{cadastroUsuarioBean.usuario.sobrenome}" required="true"
								label="SobreNome" />

							<h:outputText value="Idade: " for="idade" />
							<p:inputText id="idade" value="#{cadastroUsuarioBean.usuario.idade}" />

							<h:outputText value="Skip to last: " />
							<h:selectBooleanCheckbox value="#{cadastroUsuarioBean.skip}" />
						</h:panelGrid>
					</p:panel>
				</p:tab>

				<p:tab id="endereco" title="Endereço">
					<p:panel header="Detalhes do endereço ">
						<p:messages />
						<h:panelGrid columns="2" columnClasses="label, value">
							<h:outputText value="Endereço: " />
							<p:inputText value="#{cadastroUsuarioBean.usuario.endereco}" />

							<h:outputText value="Cepe: " />
							<p:inputText value="#{cadastroUsuarioBean.usuario.cep}" />

							<h:outputText value="Cidade: " />
							<p:inputText value="#{cadastroUsuarioBean.usuario.cidade}" />

							<h:outputText value="Skip to last: " />
							<h:selectBooleanCheckbox value="#{cadastroUsuarioBean.skip}" />
						</h:panelGrid>
					</p:panel>
				</p:tab>

				<p:tab id="contato" title="Contato">
					<p:panel header="Informações de contato">
						<p:messages />
						<h:panelGrid columns="2" columnClasses="label, value">
							<h:outputText value="Email: *" />
							<p:inputText value="#{cadastroUsuarioBean.usuario.email}" required="true"
								label="Email" />

							<h:outputText value="Telefone: " />
							<p:inputText value="#{cadastroUsuarioBean.usuario.telefone}" />

							<h:outputText value="Informações: " />
							<p:inputText value="#{cadastroUsuarioBean.usuario.informacoes}" />
						</h:panelGrid>
					</p:panel>
				</p:tab>

				<p:tab id="confirmacao" title="Confirmação">
					<p:panel header="Confirmação">
						<h:panelGrid id="confirmation" columns="3"
							columnClasses="grid,grid,grid">
							<h:panelGrid columns="2" columnClasses="label, value">
								<h:outputText value="Nome: " />
								<h:outputText value="#{cadastroUsuarioBean.usuario.nome}"
									styleClass="outputLabel" />

								<h:outputText value="Sobre nome: " />
								<h:outputText value="#{cadastroUsuarioBean.usuario.sobrenome}"
									styleClass="outputLabel" />

								<h:outputText value="Idade: " />
								<h:outputText value="#{cadastroUsuarioBean.usuario.idade}"
									styleClass="outputLabel" />
							</h:panelGrid>

							<h:panelGrid columns="2" columnClasses="label, value">
								<h:outputText value="Endereço: " />
								<h:outputText value="#{cadastroUsuarioBean.usuario.endereco}"
									styleClass="outputLabel" />

								<h:outputText value="Cep: " />
								<h:outputText value="#{cadastroUsuarioBean.usuario.cep}"
									styleClass="outputLabel" />

								<h:outputText value="Cidade: " />
								<h:outputText value="#{cadastroUsuarioBean.usuario.cidade}"
									styleClass="outputLabel" />
							</h:panelGrid>

							<h:panelGrid columns="2" columnClasses="label, value">
								<h:outputText value="Email: " />
								<h:outputText value="#{cadastroUsuarioBean.usuario.email}"
									styleClass="outputLabel" />

								<h:outputText value="Telefone " />
								<h:outputText value="#{cadastroUsuarioBean.usuario.telefone}"
									styleClass="outputLabel" />

								<h:outputText value="Informações: " />
								<h:outputText value="#{cadastroUsuarioBean.usuario.informacoes}"
									styleClass="outputLabel" />

								<h:outputText />
								<h:outputText />
							</h:panelGrid>
						</h:panelGrid>

						<p:commandButton value="Enviar"
							actionListener="#{cadastroUsuarioBean.salvar}" update="growl"
							process="@this" />
					</p:panel>
				</p:tab>
			</p:wizard>

		</h:form>

	</ui:define>
</ui:composition>