<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		<h1 class="aw-page-title">Produto</h1>

		<f:metadata>
			<o:viewParam name="produto" value="#{cadastroProdutoBean.produto}" />
		</f:metadata>


		<h:form id="frm">
			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:button value="Novo" />
					<p:commandButton value="Salvar" id="botaoSalvar"
						action="#{cadastroProdutoBean.salvar}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Pesquisa" outcome="PesquisaProdutos" />
				</p:toolbarGroup>
			</p:toolbar>

			<p:messages autoUpdate="false" />
			<p:panelGrid columns="2" id="painel"
				style="width: 100%; margin-top: 20px" columnClasses="rotulo, campo">
				<p:outputLabel value="SKU" for="sku" />
				<p:inputText id="sku" size="20" maxlength="20"
					value="#{cadastroProdutoBean.produto.sku}" />

				<p:outputLabel value="Nome" for="nome" />
				<p:inputText id="nome" size="60" maxlength="80"
					value="#{cadastroProdutoBean.produto.nome}" />


				<p:outputLabel value="Valor unitário" for="valorUnitario" />
				<p:inputText id="valorUnitario" size="10" maxlength="10"
					styleClass="moeda"
					value="#{cadastroProdutoBean.produto.valorUnitario}">
					<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
				</p:inputText>

				<p:outputLabel value="Estoque" for="estoque" />
				<p:inputText id="estoque" size="10" maxlength="5"
					value="#{cadastroProdutoBean.produto.quantidadeEstoque}" />

                <p:outputLabel value="Informações" />
				<p:inputTextarea rows="5" cols="30" counter="display" maxlength="10"
					counterTemplate="{0} characters remaining." autoResize="false" />
				<h:outputText id="display" value="#{cadastroProdutoBean.produto.informacoes}"/>
			</p:panelGrid>



		</h:form>
	</ui:define>

</ui:composition>