<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

    <ui:define name="content">
    
    <h:form id="frmPesquisa">
	    	<h1>Pesquisa de produtos</h1>
	    	
	    	<p:messages autoUpdate="true" closable="true" />
	    	
	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:commandButton value="Pesquisar" action="#{pesquisaProdutosBean.produtosList}"
	    				update="@form" />
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    			<p:button value="Novo" outcome="/produtos/CadastroProdutos" />
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    			<p:button value="QR Code" outcome="/produtos/QrCodeProdutos" />
	    		</p:toolbarGroup>
	    		
	    	</p:toolbar>
	    	
	    	<p:dataTable id="produtosTable" value="#{pesquisaProdutosBean.produtosList}" var="produto"
	    	 	style="margin-top: 20px" emptyMessage="Nenhum produto encontrado." rows="20"
	    		paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
	    		<p:column headerText="SKU" style="text-align: center; width: 100px">
	    			<h:outputText value="#{produto.sku}" />
	    		</p:column>
	    		<p:column headerText="Nome">
	    			<h:outputText value="#{produto.nome}" />
	    		</p:column>
	    		
	    		<p:column headerText="Valor unitário" style="text-align: right; width: 120px">
	    			<h:outputText value="#{produto.valorUnitario}">
	    				<f:convertNumber type="currency"/>
	    			</h:outputText>
	    		</p:column>
	    		<p:column headerText="Estoque" style="text-align: center; width: 100px">
	    			<h:outputText value="#{produto.quantidadeEstoque}" />
	    		</p:column>
	    		
	    		<p:column style="width: 100px; text-align: center">
	    			<p:button outcome="/produtos/CadastroProdutos" icon="ui-icon-pencil" title="Editar">
	    				<f:param name="produto" value="#{produto.id}" />
	    			</p:button>
	    			<p:commandButton icon="ui-icon-trash" title="Excluir" oncomplete="confirmacaoExclusao.show()" />
	    		</p:column>
	    		
	    	</p:dataTable>
	    	
	    	
	 </h:form>   	
    
    
    </ui:define>
</ui:composition>    