<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	
	<h:form>
	
	  <p:panelMenu>
	 		 <p:submenu label="Cadastros">
	 		     
	 		     <p:menuitem icon="fa fa-fw fa-user" value="Clientes" 
	  			  outcome="/clientes/CadastroClientes"/>
	  			  
	  			   <p:menuitem icon="fa fa-fw fa-user" value="Usuários" 
	  			  outcome="/usuarios/CadastroUsuarios"/>
	 		 
	  			  <p:menuitem icon="fa fa-fw fa-user" value="Produtos" 
	  			  outcome="/produtos/PesquisaProdutos"/>
	  			  
	  			  <p:menuitem icon="fa fa-fw fa-user" value="Marcas"
	  			  outcome="/marcas/PesquisaMarcas"/>
	  			  
	  			  <p:menuitem icon="fa fa-fw fa-user" value="Orçamentos"
	  			  outcome="/orcamentos/Orcamentos"/>
			  </p:submenu>
			  
			  <p:submenu label="Financeiro">
	  			   <p:menuitem icon="fa fa-fw fa-user" value="Centro de Custo"
	  			  outcome="/financeiro/CadastroCentroDeCusto"/>
	  			  
	  			   <p:menuitem icon="fa fa-fw fa-user" value="Lançamentos"
	  			  outcome="/financeiro/PesquisaLancamentos"/>
			  </p:submenu>
			  
			   <p:submenu label="Relatórios">
	  			  <p:menuitem icon="fa fa-fw fa-file-text" value="Clientes"/>
	  			  <p:menuitem icon="fa fa-fw fa-home" value="Fabricantes"/>
			  </p:submenu>
		 	  
	  </p:panelMenu>
		
	</h:form>
	
</ui:composition>