<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:form>

		<p:panelMenu>
			<p:submenu label="Cadastros">


				<p:menuitem icon="fa fa-fw fa-user" value="Usuários"
					outcome="/usuarios/PesquisaUsuarios" />
				
				<p:menuitem icon="fa fa-fw fa-user" value="Orçamentos"
					outcome="/orcamentos/Orcamentos" />
					
				<p:menuitem icon="fa fa-fw fa-user" value="Alunos"
					outcome="/alunos/PesquisaAlunos" />	
					
									
				<p:menuitem icon="fa fa-fw fa-user" value="Pessoas"
					outcome="/pessoas/PesquisaPessoas" />			
			</p:submenu>
			<p:submenu label="Estoque">
			<p:menuitem icon="fa fa-fw fa-user" value="Produtos"
					outcome="/estoque/PesquisaProdutos" />

				<p:menuitem icon="fa fa-fw fa-user" value="Marcas"
					outcome="/estoque/PesquisaMarcas" />
			
			<p:menuitem icon="fa fa-fw fa-user" value="Modelos"
					outcome="/estoque/PesquisaModelos" />
			
			<p:menuitem icon="fa fa-fw fa-user" value="Serviços"
					outcome="/estoque/PesquisaServicos" />		
			
			</p:submenu>

			<p:submenu label="Financeiro">
				<p:menuitem icon="fa fa-fw fa-user" value="Centro de Custo"
					outcome="/financeiro/PesquisaCentroDeCusto" />

				<p:menuitem icon="fa fa-fw fa-user" value="Lançamentos"
					outcome="/financeiro/PesquisaLancamentos" />
			</p:submenu>
			
			<p:submenu label="Pedidos">
				<p:menuitem icon="fa fa-fw fa-user" value="Pedido"
					outcome="/pedidos/PesquisaPedidos" />
				
			</p:submenu>

			<p:submenu label="Relatórios">
				<p:menuitem icon="fa fa-fw fa-file-text" value="Clientes" />
				<p:menuitem icon="fa fa-fw fa-home" value="Fabricantes" />
			</p:submenu>

		</p:panelMenu>

	</h:form>

</ui:composition>