<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">



	<ui:define name="content">
		
		<f:metadata>
			<o:viewParam name="pedido" value="#{cadastroPedidoBean.pedido}" />
			<f:viewAction action="#{cadastroPedidoBean.inicializar}" type="preRenderView"/>
		</f:metadata>


		<h:form id="frmCadastro">
			<h1>#{cadastroPedidoBean.editando ? "Edição de pedido" : "Novo pedido"}</h1>

			<p:messages autoUpdate="true" closable="true" />

			<ui:include src="/WEB-INF/templates/pedidos/BotoesPedido.xhtml" />

			<ui:include src="/WEB-INF/templates/pedidos/CapaPedido.xhtml" />

			<p:tabView style="margin-top: 20px">
				<p:tab title="Itens">
					<ui:include src="/WEB-INF/templates/pedidos/ItensPedido.xhtml" />
				</p:tab>

				<p:tab title="Dados de entrega">
					<ui:include
						src="/WEB-INF/templates/pedidos/DadosEntregaPedido.xhtml" />
				</p:tab>
				<p:tab title="Observação">
					<ui:include src="/WEB-INF/templates/pedidos/ObservacaoPedido.xhtml" />
				</p:tab>
			</p:tabView>

		</h:form>
	</ui:define>
</ui:composition>