<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">

		<h:form id="frmPesquisa">
			<h1>Pesquisa de pedidos</h1>

			<p:messages autoUpdate="true" closable="true" />

			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:commandButton value="Pesquisar"
						outcome="/pedidos/CadastroPedido" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Novo" outcome="/pedidos/CadastroPedido" />
				</p:toolbarGroup>
			</p:toolbar>

			<p:dataTable id="pedidosTable"
				value="#{pesquisaPedidosBean.pedidosList}" var="pedido"
				style="margin-top: 20px" emptyMessage="Nenhum pedido encontrado."
				rows="20" paginator="true" paginatorAlwaysVisible="false"
				paginatorPosition="bottom">

				<p:column headerText="Código">
					<h:outputText value="#{pedido.id}" />
				</p:column>
				
					<p:column headerText="Cliente">
	    			<h:outputText value="#{pedido.pessoa.nome}"/>
	    		</p:column>
	    		<p:column headerText="Vendedor">
	    			<h:outputText value="#{pedido.vendedor.nome}"/>
	    		</p:column>
	    		<p:column headerText="Data de criação" style="text-align: center; width: 140px">
	    			<h:outputText value="#{pedido.dataCriacao}">
	    				<f:convertDateTime pattern="dd/MM/yyyy" />
	    			</h:outputText>
	    		</p:column>
	    		<p:column headerText="Valor total" style="text-align: right; width: 120px">
	    			<h:outputText value="#{pedido.valorTotal}">
	    				<f:convertNumber type="currency"/>
	    			</h:outputText>
	    		</p:column>
	    		<p:column headerText="Status" style="width: 100px">
	    			<h:outputText value="#{pedido.status.descricao}"/>
	    		</p:column>


				<p:column style="width: 100px; text-align: center">
					<p:button outcome="/pedidos/CadastroPedido" icon="ui-icon-pencil"
						title="Editar">
						<f:param name="pedido" value="#{pedido.id}" />
					</p:button>
					
				</p:column>

			</p:dataTable>

		</h:form>

	</ui:define>
</ui:composition>