<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
	<h:head>			
			<!-- chamada da biblioteca jquery -->
			<script
				src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

			<script type="text/javascript">
$(document).ready(function() {

$('.pessoa_fisica').hide();
$('.pessoa_juridica').hide();
tipo_pessoa = $("#tipo_pessoa option:selected").val();
 if(tipo_pessoa=='pessoa_fisica'){
	   $('.pessoa_fisica').fadeIn(1000);
	   $('.pessoa_juridica').hide();
}

$('#tipo_pessoa').change(function() { 
   tipo_pessoa = $("#tipo_pessoa option:selected").val();
   //alert(tipo_pessoa);
  if(tipo_pessoa=='pessoa_fisica'){
	   $('.pessoa_fisica').fadeIn(1000);
	   $('.pessoa_juridica').hide();
          
	   }else if(tipo_pessoa=='pessoa_juridica'){
	   		$('.pessoa_fisica').hide();
	   		$('.pessoa_juridica').fadeIn(1000);
			 	
	   	}else{
			$('.pessoa_fisica').hide();
	 		$('.pessoa_juridica').hide();
			
		  }
	});
});
</script>
</h:head>
	
		<h1 class="aw-page-title">Cliente</h1>

		<f:metadata>
			<o:viewParam name="cliente" value="#{cadastroClienteBean.cliente}" />
		</f:metadata>



		<h:form id="frm">
			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:button value="Novo" />
					<p:commandButton value="Salvar" id="botaoSalvar"
						action="#{cadastroClienteBean.salvar}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Pesquisa" />
				</p:toolbarGroup>
			</p:toolbar>
			

			<p:messages autoUpdate="false" />
			<div class="ui-fluid">

				<p:panelGrid columns="4" layout="grid"
					style="margin-top: 20px; margin-bottom: 40px"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-2, ui-grid-col-4">


                  
				  <p:selectOneMenu id="status">
						<f:selectItem itemLabel="Selecione" />
						<f:selectItem itemLabel="Fisica" itemValue="pessoa_fisica" />
						<f:selectItem itemLabel="Judirica" itemValue="pessoa_juridica" />

					</p:selectOneMenu>

					<p:outputLabel />
					<p:outputLabel />
					<p:outputLabel />
					
		     	</div>		



                <p  class="fisica">
					<p:outputLabel value="Nome" for="nome" />
					<p:inputText id="nome" size="60" maxlength="80"
						value="#{cadastroClienteBean.cliente.nome}" />

					<p:outputLabel value="CPF" for="cpf" />
					<p:inputText id="cpf" size="20" maxlength="20" />
					
				</p>	
 
					<p:outputLabel value="Razão Social" for="razao_social" />
					<p:inputText id="razao_social" size="20" maxlength="20" />

					<p:outputLabel value="CNPJ" for="cnpj" />
					<p:inputText id="cnpj" size="20" maxlength="20" />
					
				
				</p:panelGrid>


			</div>
		</h:form>
	</ui:define>

</ui:composition>