<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		<h1 class="aw-page-title">Lançamentos</h1>

		

		<h:form id="frm">
			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:button value="Novo" />
					<p:commandButton value="Salvar" id="botaoSalvar"
						action="#{cadastroLancamentoBean.salvar}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Pesquisa" />
				</p:toolbarGroup>
			</p:toolbar>

			<p:messages autoUpdate="false" />


			<h:panelGrid columns="2">
			  
			 <!-- Tá faltando o value aqui. Vou colocar um mas veja se precisa alterar aí -->
               <p:selectOneMenu id="status"	>
					<f:selectItem itemLabel="Selecione" />
					<f:selectItem itemLabel="Pago" itemValue="pago" />
					<f:selectItem itemLabel="Cancelado" itemValue="cancelado" />
					<f:ajax execute="status" render="panelStatus" rendenred="true" />
				</p:selectOneMenu>

				
					<p:outputLabel value="Motivo Cancelamento" for="panelStatus" />
					<p:autoComplete id="panelStatus" size="60"
						value="#{cadastroLancamentoBean.lancamento.motivoCancelamento}"
						rendered="#{cadastroLancamentoBean.lancamento.motivoCancelamento eq 'cancelado'}" />
				

			</h:panelGrid>




		</h:form>
	</ui:define>

</ui:composition>