<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	
</h:head>

<h:body>
<h:form id="form1">
		<p:panel style="width:700px;">
			<p:panelGrid id="grade" columns="1">
				 <h:selectOneMenu id="radio" value="#{redBean.opcao}" >    
					<f:selectItem itemValue="1" itemLabel="Fisica" />    
					<f:selectItem itemValue="2" itemLabel="Juridica" />    
					<f:selectItem itemValue="3" itemLabel="Cancelado" />    
					
					<p:ajax listener="#{redBean.renderizar}" update=":form1:grade" /> 
					
			</h:selectOneMenu>
				<p:fieldset id="cpf" legend="Cliente Fisico" rendered="#{redBean.isCpf}">
					<h:outputLabel value="CPF"/>
					
					<p:inputText />
				</p:fieldset>
				<p:fieldset id="cnpj" legend="Cliente Juridico" rendered="#{redBean.isCpf}">
					<h:outputLabel value="CNPJ"/>
					
					<p:inputText />
				</p:fieldset>
				
			</p:panelGrid>
		</p:panel>
	</h:form>
</h:body>

</html>