<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">

		<h:form id="frmPesquisa">
			<h1>Pesquisa de marcas</h1>

			<p:messages autoUpdate="true" closable="true" />

			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:commandButton value="Pesquisar"
						action="#{pesquisaMarcasBean.marcasList}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Novo" outcome="/marcas/CadastroMarcas" />
				</p:toolbarGroup>
			</p:toolbar>

			<p:dataTable id="produtosTable"
				value="#{pesquisaMarcasBean.marcasList}" var="marca"
				style="margin-top: 20px" emptyMessage="Nenhuma marca encontrada."
				rows="20" paginator="true" paginatorAlwaysVisible="false"
				paginatorPosition="bottom">

				<p:column headerText="Nome">
					<h:outputText value="#{marca.nome}" />
				</p:column>


				<p:column style="width: 100px; text-align: center">
					<p:button outcome="/marcas/CadastroMarcas" icon="ui-icon-pencil"
						title="Editar">
						<f:param name="marca" value="#{marca.id}" />
					</p:button>
					<p:commandButton icon="ui-icon-trash" title="Excluir"
						oncomplete="confirmacaoExclusao.show()" />
				</p:column>

			</p:dataTable>

		</h:form>

	</ui:define>
</ui:composition>
