<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		<h1 class="aw-page-title">Aluno</h1>

		<f:metadata>
			<o:viewParam name="aluno" value="#{cadastroAlunoBean.aluno}" />
		</f:metadata>

		<h:form id="frm">
			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:button value="Novo" />
					<p:commandButton value="Salvar" id="botaoSalvar"
						action="#{cadastroAlunoBean.salvar}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:commandButton value="Efetiva"
						action="#{efetivaAlunoBean.efetivaAluno }" process="@form"
						update="@form" />
					<p:commandButton value="Inativar"
						action="#{inativarAlunoBean.inativarAluno}" process="@this"
						update="@form" />
					<p:button value="Pesquisa" outcome="/alunos/PesquisaAlunos" />
				</p:toolbarGroup>
			</p:toolbar>

			<p:messages autoUpdate="false" />

			<p:tabView scrollable="true">
				<p:tab title="Cadastro">
					<h:panelGrid columns="2" columnClasses="label, value">

						<p:outputLabel value="Status" />
						<h:outputText
							value="#{cadastroAlunoBean.aluno.statusAluno.descricao}" />

						<p:outputLabel value="Nome" for="nome" />
						<p:inputText id="nome" size="60" maxlength="80"
							value="#{cadastroAlunoBean.aluno.nome}" />

						<p:outputLabel value="Matricula" for="matricula" />
						<p:inputText id="matricula" size="60" maxlength="80"
							value="#{cadastroAlunoBean.aluno.matricula}" />
							
						
						<p:outputLabel value="Sexo" for="sexo" />
				<p:selectOneMenu value="#{cadastroAlunoBean.aluno.sexo}"
					id="sexo" filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
					<f:selectItems value="#{cadastroAlunoBean.sexo}" var="sexo"
						itemValue="#{sexo}" itemLabel="#{sexo.descricao}" />
				</p:selectOneMenu>	

					</h:panelGrid>

				</p:tab>
				<p:tab title="Dados do responsável">
					<h:panelGrid columns="2" columnClasses="label, value">
						<p:outputLabel value="Mãe" for="mae" />
						<p:inputText id="mae" size="60" maxlength="80"
							value="#{cadastroAlunoBean.aluno.nomeMae}" />
						
						<p:outputLabel value="CPF Mãe" for="cpfMae" />
						<p:inputText id="cpfMae" size="60" maxlength="80"
							value="#{cadastroAlunoBean.aluno.cpfMae}" />		
					</h:panelGrid>

				</p:tab>

			</p:tabView>

		</h:form>
	</ui:define>

</ui:composition>