<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">

		<h:form id="frmPesquisa">
			<h1>Pesquisa de alunos</h1>

			<p:messages autoUpdate="true" closable="true" />

			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:commandButton value="Pesquisar"
						action="#{pesquisaAlunosBean.pesquisar}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Novo" outcome="/alunos/CadastroAlunos" />
				</p:toolbarGroup>
			</p:toolbar>
			
			<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">
	    	
	    			    			    		
	    		<p:outputLabel value="Aluno" />
	    		<p:inputText size="40" action="#{pesquisaAlunosBean.filtro.nome}"/>
	    		
	    		
	    	</p:panelGrid>
	    	
	    	

			<p:dataTable id="alunosTable"
				value="#{pesquisaAlunosBean.alunosFiltrados}" var="aluno"
				style="margin-top: 20px" emptyMessage="Nenhuma marca encontrada."
				rows="20" paginator="true" paginatorAlwaysVisible="false"
				paginatorPosition="bottom">

			     <p:column headerText="Nome">
					<h:outputText value="#{aluno.id}" />
				</p:column>	
				
				<p:column headerText="Nome">
					<h:outputText value="#{aluno.nome}" />
				</p:column>
				
				<p:column headerText="Status">
					<h:outputText value="#{aluno.statusAluno.descricao}" />
				</p:column>
				
				<p:column style="width: 100px; text-align: center">
					<p:button outcome="/alunos/CadastroAlunos" icon="ui-icon-pencil"
						title="Editar">
						<f:param name="aluno" value="#{aluno.id}" />
					</p:button>
					<p:commandButton icon="ui-icon-trash" title="Excluir"
						oncomplete="confirmacaoExclusao.show()" />
				</p:column>

			</p:dataTable>

		</h:form>

	</ui:define>
</ui:composition>
