<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		<h1 class="aw-page-title">Pessoas</h1>

		<f:metadata>
			<o:viewParam name="pessoas" value="#{cadastroPessoaBean.pessoa}" />
		</f:metadata>


		<h:form id="frm">
			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:button value="Novo" />
					<p:commandButton value="Salvar" id="botaoSalvar"
						action="#{cadastroPessoaBean.salvar}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Pesquisa" />
				</p:toolbarGroup>
			</p:toolbar>
			<p:messages showDetail="false" showSummary="true" autoUpdate="true" />

			<p:tabView scrollable="true">
				<p:tab title="Cadastro">
					<h:panelGrid columns="4" columnClasses="label, value">



						<p:outputLabel value="Tipo Cliente / Fornecedor" for="tipo" />

						<p:selectOneMenu id="tipo"
							value="#{cadastroPessoaBean.pessoa.tipoclientefornecedor}">
							<f:selectItems
								value="#{cadastroPessoaBean.tipoClienteFornecedores}"
								var="tipoclientefornecedor" itemValue="#{tipoclientefornecedor}"
								itemLabel="#{tipoclientefornecedor.descricao}" />

						</p:selectOneMenu>

						<p:outputLabel value="Status" for="status" />

						<p:selectOneMenu id="status"
							value="#{cadastroPessoaBean.pessoa.status}">
							<f:selectItems value="#{cadastroPessoaBean.status}" var="status"
								itemValue="#{status}" itemLabel="#{status.descricao}" />

						</p:selectOneMenu>
						
						<p:outputLabel value="Tipo pessoa" for="tipopessoa" />

						<p:selectOneMenu id="tipopessoa"
							value="#{cadastroPessoaBean.pessoa.tipopessoa}">
							<f:selectItems value="#{cadastroPessoaBean.tipoPessoa}" var="tipopessoa"
								itemValue="#{tipopessoa}" itemLabel="#{tipopessoa.descricao}" />
								
									<p:ajax listener="#{cadastroPessoaBean.pessoa.tipopessoa.descricao}" update=":frm" /> 

						</p:selectOneMenu>
						



						<p:outputLabel value="Nome" for="nome" />
						<p:autoComplete id="nome" size="60"
							value="#{cadastroPessoaBean.pessoa.nome}" />

                      
						<p:outputLabel value="Cpf" for="cpf" 
						rendered="#{cadastroPessoaBean.pessoa.fisica}" />
						<p:inputText id="cpf" maxlength="80"
							value="#{cadastroPessoaBean.pessoa.cpf}" 
							rendered="#{cadastroPessoaBean.pessoa.fisica}" />


						<p:outputLabel value="Razão Social" for="razaosocial" />
						<p:inputText id="razaosocial" maxlength="80"
							value="#{cadastroPessoaBean.pessoa.razaoSocial}" />


						<p:outputLabel value="Inscrição Estadual" for="inscricaoestadual" />
						<p:inputText id="inscricaoestadual" maxlength="80"
							value="#{cadastroPessoaBean.pessoa.inscricaoEstadual}" />


						<p:outputLabel value="Cnpj" for="cnpj" />
						<p:inputText id="cnpj" maxlength="80"
							value="#{cadastroPessoaBean.pessoa.cnpj}" />

						<p:outputLabel value="Telefone" for="telefone" />
						<p:inputText id="telefone" maxlength="80"
							value="#{cadastroPessoaBean.pessoa.telefone}" />


						<p:outputLabel value="Fax" for="fax" />
						<p:inputText id="fax" maxlength="80"
							value="#{cadastroPessoaBean.pessoa.telefoneFax}" />


						<p:outputLabel value="Celular" for="celular" />
						<p:inputText id="celular" maxlength="80"
							value="#{cadastroPessoaBean.pessoa.celular}" />


						<p:outputLabel value="E-mail" for="email" />
						<p:inputText id="email" maxlength="80"
							value="#{cadastroPessoaBean.pessoa.email}" />


					</h:panelGrid>
				</p:tab>
				<p:tab title="Endereço">
					<h:panelGrid columns="4" columnClasses="label, value">
					
						<p:outputLabel value="Endereço" for="endereco" />
						<p:inputText id="endereco" maxlength="80"
							value="#{cadastroPessoaBean.pessoa.endereco}" />
						
						<p:outputLabel value="Complemento" for="complemento" />
						<p:inputText id="complemento" maxlength="80"
							value="#{cadastroPessoaBean.pessoa.complemento}" />

						<p:outputLabel value="Bairro" for="bairro" />
						<p:inputText id="bairro" maxlength="80"
							value="#{cadastroPessoaBean.pessoa.bairro}" />

						<p:outputLabel value="Cep" for="cep" />
						<p:inputText id="cep" maxlength="80"
							value="#{cadastroPessoaBean.pessoa.cep}" />

						<p:outputLabel value="Cidade" for="cidade" />
						<p:inputText id="cidade" maxlength="80"
							value="#{cadastroPessoaBean.pessoa.cidade}" />

						<p:outputLabel value="Estado" for="estado" />
						<p:inputText id="estado" maxlength="80"
							value="#{cadastroPessoaBean.pessoa.estado}" />

					</h:panelGrid>
				</p:tab>
			</p:tabView>
		</h:form>
	</ui:define>

</ui:composition>