<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		<style type="text/css">
.colored {
	background-color: #FF0000;
	color: #FFFFFF;
}
</style>
		<h:form id="frmPesquisa">
			<h1>Pesquisa de pessoas</h1>

			<p:messages autoUpdate="true" closable="true" />

			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:commandButton value="Pesquisar" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Novo" outcome="/pessoas/CadastroPessoa" />
				</p:toolbarGroup>
				

			</p:toolbar>

			<p:dataTable id="pessoasTable"
				value="#{pesquisaPessoasBean.pessoasList}"
				var="pessoas" style="margin-top: 20px"
				emptyMessage="Nenhum produto encontrado." rows="20" paginator="true"
				paginatorAlwaysVisible="false" paginatorPosition="bottom">
				
								
				<p:column headerText="Status" style="text-align: center"
					sortBy="#{pessoas.status}" width="100">
					<h:outputText value="#{pessoas.status}"/>
						
				</p:column>
				
								
				<p:column filterBy="#{pessoas.nome}" headerText="Nome"
					filterMatchMode="contains" style="text-align: center; width: 120px">
					<h:outputText value="#{pessoas.nome}" />
				</p:column>
								
				
				<p:column style="width: 100px; text-align: center">
					<p:button outcome="/pessoas/CadastroPessoa" icon="ui-icon-pencil"
						title="Editar">
						<f:param name="pessoas" value="#{pessoas.id}" />
					</p:button>
				</p:column>

			</p:dataTable>

			<h:commandLink id="excel">

				<p:graphicImage library="reobotnet" name="images/excel.png" />
				<p:dataExporter type="xls" target="pessoasTable"
					fileName="Pessoas"
					postProcessor="#{customizedDocumentsView.postProcessXLS}" />
			</h:commandLink>
		</h:form>
	</ui:define>
</ui:composition>