<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		<h1 class="aw-page-title">Lançamentos</h1>

		<f:metadata>
			<o:viewParam name="id" value="#{cadastroLancamentoBean.lancamento}" />
			<f:viewAction action="#{cadastroLancamentoBean.prepararCadastro}" />
		</f:metadata>


		<h:form id="frm">
			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:button value="Novo" />
					<p:commandButton value="Salvar" id="botaoSalvar"
						action="#{cadastroLancamentoBean.salvar}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Pesquisa"
						outcome="/financeiro/PesquisaLancamentos" />
				</p:toolbarGroup>
			</p:toolbar>
			<p:messages showDetail="false" showSummary="true" autoUpdate="true" />

			<p:panelGrid style="margin-top: 20px" columns="2" id="grid">

				<p:outputLabel value="Tipo" for="tipo" />
				<p:selectOneButton id="tipo"
					value="#{cadastroLancamentoBean.lancamento.tipo}">
					<f:selectItems value="#{cadastroLancamentoBean.tiposLancamentos}"
						var="tipoLancamento" itemValue="#{tipoLancamento}"
						itemLabel="#{tipoLancamento.descricao}" />
				</p:selectOneButton>


				<p:notificationBar position="top" effect="slide" styleClass="top"
					widgetVar="bar">
					<h:outputText value="PrimeFaces Rocks!" style="font-size:36px;" />
				</p:notificationBar>

				<p:commandButton value="Show" onclick="PF('bar').show()"
					type="button" icon="ui-icon-arrow-1-s" />
				<p:commandButton value="Hide" onclick="PF('bar').hide()"
					type="button" icon="ui-icon-arrow-1-n" />
					
					<p:outputLabel value="Nome" for="nome" widgetVar="bar" process="@this" />
				<p:inputText id="nome" size="60" maxlength="80"/>	

				<h:outputLabel />
				<p:commandButton value="Salvar"
					action="#{cadastroLancamentoBean.salvar}" icon="ui-icon-disk"
					update="@form" />
			</p:panelGrid>
		</h:form>
	</ui:define>

</ui:composition>