<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		<h1 class="aw-page-title">Lançamentos</h1>

		<f:metadata>
			<o:viewParam name="id" value="#{cadastroLancamentoBean.lancamento}" />
			<f:viewAction action="#{cadastroLancamentoBean.prepararCadastro}" />
		</f:metadata>


		<h:form id="frm">
			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:button value="Novo" />
					<p:commandButton value="Salvar" id="botaoSalvar"
						action="#{cadastroLancamentoBean.salvar}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Pesquisa"
						outcome="/financeiro/PesquisaLancamentos" />
				</p:toolbarGroup>
			</p:toolbar>
			<p:messages showDetail="false" showSummary="true" autoUpdate="true" />

			<p:panelGrid style="margin-top: 20px" columns="2" id="grid">

				<p:outputLabel value="Tipo" for="tipo" />
				<p:selectOneButton id="tipo"
					value="#{cadastroLancamentoBean.lancamento.tipo}">
					<f:selectItems value="#{cadastroLancamentoBean.tiposLancamentos}"
						var="tipoLancamento" itemValue="#{tipoLancamento}"
						itemLabel="#{tipoLancamento.descricao}" />
				</p:selectOneButton>


				<p:outputLabel value="Pessoa" for="pessoa" />
				<p:selectOneMenu value="#{cadastroLancamentoBean.lancamento.pessoa}"
					id="pessoa" filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
					<f:selectItems value="#{cadastroLancamentoBean.todasPessoas}"
						var="pessoa" itemValue="#{pessoa}" itemLabel="#{pessoa.nome}" />
				</p:selectOneMenu>

				<p:outputLabel value="Custo" for="custo" />
				<p:selectOneMenu value="#{cadastroLancamentoBean.lancamento.custo}"
					id="custo" filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
					<f:selectItems value="#{cadastroLancamentoBean.todosCustos}"
						var="custo" itemValue="#{custo}" itemLabel="#{custo.nome}" />
				</p:selectOneMenu>

				<p:outputLabel value="Data de emissão" for="dataEmissao" />
				<p:calendar size="12" id="dataEmissao" pattern="dd/MM/yyyy"
					value="#{cadastroLancamentoBean.lancamento.dataEmissao}" />

				<p:outputLabel value="Data de vencimento" for="dataVencimento" />
				<p:calendar id="dataVencimento" size="12" pattern="dd/MM/yyyy"
					value="#{cadastroLancamentoBean.lancamento.dataVencimento}">
					<p:ajax event="dateSelect" update="@this dataPagamento"
						process="@this dataPagamento"
						listener="#{cadastroLancamentoBean.dataVencimentoAlterada}" />
					<p:ajax event="change" update="@this dataPagamento"
						process="@this dataPagamento"
						listener="#{cadastroLancamentoBean.dataVencimentoAlterada}" />
				</p:calendar>

				<p:outputLabel value="Banco" for="banco" />
				<p:selectOneMenu value="#{cadastroLancamentoBean.lancamento.banco}"
					id="banco" filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
					<f:selectItems value="#{cadastroLancamentoBean.todosBancos}"
						var="banco" itemValue="#{banco}" itemLabel="#{banco.nome}" />
				</p:selectOneMenu>

				<p:outputLabel value="Descrição" for="descricao" />
				<p:autoComplete id="descricao" size="60"
					value="#{cadastroLancamentoBean.lancamento.descricao}"
					completeMethod="#{cadastroLancamentoBean.pesquisarDescricoes}" />

				<p:outputLabel value="Nota Fiscal" for="notaFiscal" />
				<p:autoComplete id="notaFiscal" size="20"
					value="#{cadastroLancamentoBean.lancamento.notaFiscal}" />

				<p:outputLabel value="Boleto" for="boleto" />
				<p:autoComplete id="boleto" size="20"
					value="#{cadastroLancamentoBean.lancamento.boleto}" />

				<p:outputLabel value="Juros" for="juros" />
				<p:inputText id="juros" size="12"
					value="#{cadastroLancamentoBean.lancamento.juros}">
					<f:convertNumber locale="pt_BR" maxFractionDigits="2"
						minFractionDigits="2" />
				</p:inputText>

				<p:outputLabel value="Crédito" for="credito" />
				<p:inputText id="credito" size="12"
					value="#{cadastroLancamentoBean.lancamento.credito}">
					<f:convertNumber locale="pt_BR" maxFractionDigits="2"
						minFractionDigits="2" />
				</p:inputText>

				<p:outputLabel value="Valor Pago " for="valorPago" />
				<p:inputText id="valorPago" size="12"
					value="#{cadastroLancamentoBean.lancamento.valorPago}">
					<f:convertNumber locale="pt_BR" maxFractionDigits="2"
						minFractionDigits="2" />
				</p:inputText>
				
				<p:outputLabel value="Valor Recebido " for="valorRecebido" />
				<p:inputText id="valorRecebido" size="12"
					value="#{cadastroLancamentoBean.lancamento.valorRecebido}">
					<f:convertNumber locale="pt_BR" maxFractionDigits="2"
						minFractionDigits="2" />
				</p:inputText>


				<p:outputLabel value="Data de pagamento" for="dataPagamento" />
				<p:calendar size="12" id="dataPagamento" pattern="dd/MM/yyyy"
					value="#{cadastroLancamentoBean.lancamento.dataPagamento}" />

				
				
				<p:outputLabel value="Status pagamento" for="statusPagamento" />
				<p:selectOneMenu value="#{cadastroLancamentoBean.lancamento.statusPagamento}"
					id="statusPagamento" filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
					<f:selectItems value="#{cadastroLancamentoBean.statusPagamento}"
						var="statusPagamento" itemValue="#{statusPagamento}" 
						itemLabel="#{statusPagamento.descricao}" />
				</p:selectOneMenu>
				
				
				<p:outputLabel value="Motivo Cancelamento" for="motivoCancelamento" />
				<p:autoComplete id="motivoCancelamento" size="60"
					value="#{cadastroLancamentoBean.lancamento.motivoCancelamento}"/>
			
				<p:outputLabel value="Forma pagamento" for="formaPagamento" />
				<p:selectOneMenu value="#{cadastroLancamentoBean.lancamento.formaPagamento}"
					id="formaPagamento" filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
					<f:selectItems value="#{cadastroLancamentoBean.formaPagamento}"
						var="formaPagamento" itemValue="#{formaPagamento}" 
						itemLabel="#{formaPagamento.descricao}" />
				</p:selectOneMenu>

				<h:outputLabel />
				<p:commandButton value="Salvar"
					action="#{cadastroLancamentoBean.salvar}" icon="ui-icon-disk"
					update="@form" />
			</p:panelGrid>
		</h:form>
	</ui:define>

</ui:composition>