<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">

		<h:form id="form">

			<h1>Pesquisa Lançamentos</h1>


			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:commandButton value="Pesquisar"
						action="#{pesquisaLancamentosBean.pesquisar}" update="@form" />

				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Novo" outcome="/financeiro/CadastroLancamento" />
				</p:toolbarGroup>
			</p:toolbar>

			<p:panelGrid columns="2" id="painel"
				style="width: 100%; margin-top: 20px" columnClasses="rotulo, campo">


				<p:outputLabel value="Data de criação:" />
				<p:outputLabel />
				<h:panelGroup>

					<p:calendar size="10" pattern="dd/MM/yyy"
						value="#{pesquisaLancamentosBean.filtro.dataCriacaoDe}" />	
	    			a
	    			<p:calendar size="10" pattern="dd/MM/yyyy"
						value="#{pesquisaLancamentosBean.filtro.dataCriacaoAte}" />
				</h:panelGroup>

			</p:panelGrid>

			<p:dataTable id="tbl"
				value="#{pesquisaLancamentosBean.lancamentosFiltrados}"
				var="lancamento" style="margin-top: 20px"
				emptyMessage="Nenhum lançamento encontrado." rows="20"
				paginator="true" paginatorAlwaysVisible="false"
				paginatorPosition="bottom">

				<p:column filterBy="#{lancamento.id}" headerText="Código"
					filterMatchMode="contains">
					<h:outputText value="#{lancamento.id}" />
				</p:column>

				<p:column filterBy="#{lancamento.tipo.descricao}" headerText="Tipo"
					filterMatchMode="contains">
					<h:outputText value="#{lancamento.tipo.descricao}" />
				</p:column>

				<p:column filterBy="#{lancamento.statusPagamento}"
					headerText="Status" filterMatchMode="contains">
					<h:outputText value="#{lancamento.statusPagamento}" />
				</p:column>

				<p:column filterBy="#{lancamento.pessoa.nome}" headerText="Pessoa"
					filterMatchMode="contains">
					<h:outputText value="#{lancamento.pessoa.nome}" />
				</p:column>

				<p:column filterBy="#{lancamento.custo.nome}" headerText="Custo"
					filterMatchMode="contains">
					<h:outputText value="#{lancamento.custo.nome}" />
				</p:column>

				<p:column filterBy="#{lancamento.descricao}" headerText="Descrição"
					filterMatchMode="contains">
					<h:outputText value="#{lancamento.descricao}" />
				</p:column>


				<p:column filterBy="#{lancamento.valorPago}" headerText="Valor Pg"
					filterMatchMode="contains">
					<h:outputText value="#{lancamento.valorPago}">
						<f:convertNumber type="currency" locale="pt_BR" />
					</h:outputText>
				</p:column>

				<p:column filterBy="#{lancamento.valorRecebido}"
					headerText="Valor Rec." filterMatchMode="contains">
					<h:outputText value="#{lancamento.valorRecebido}">
						<f:convertNumber type="currency" locale="pt_BR" />
					</h:outputText>
				</p:column>


				<p:column headerText="Vencimento" style="text-align: center"
					sortBy="#{lancamento.dataVencimento}" width="100">
					<h:outputText value="#{lancamento.dataVencimento}">
						<f:convertDateTime pattern="dd/MM/yyyy"
							timeZone="America/Sao_Paulo" />
					</h:outputText>
				</p:column>

				<p:column width="70" style="text-align: center">
					<p:button icon="ui-icon-pencil" title="Editar"
						outcome="/financeiro/CadastroLancamento">
						<f:param name="id" value="#{lancamento.id}" />
					</p:button>

				</p:column>


			</p:dataTable>
			
			<p:dataTable>
			
		
			 <p:columnGroup type="footer">
					<p:row>
						<p:column colspan="4" style="text-align:right"
							footerText="Total Pago:" />
						<p:column footerText="R$#{pesquisaLancamentosBean.valorTotalPago()}" />
						<p:column colspan="1" style="text-align:right"
							footerText="Total Recebido:" />
						<p:column footerText="R$#{pesquisaLancamentosBean.valorTotalRecebido()}"/>
						<p:column colspan="1" style="text-align:right"
							footerText="Total Saldo:" />
						<p:column footerText="R$#{pesquisaLancamentosBean.Saldo()}"/>	
					</p:row>
				</p:columnGroup>
			</p:dataTable>	
         
			<h:commandLink id="excel">

				<p:graphicImage library="reobotnet" name="images/excel.png" />
				<p:dataExporter type="xls" target="tbl" fileName="Lançamentos"
					postProcessor="#{customizedDocumentsView.postProcessXLS}" />
			</h:commandLink>

			
		</h:form>

	</ui:define>
</ui:composition>
