<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">

		<h:form id="frmPesquisa">
			<h1>Pesquisa Centro de Custo</h1>

			<p:messages autoUpdate="true" closable="true" />

			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:commandButton value="Pesquisar"
						action="#{pesquisaCustosBean.custosList}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Novo" outcome="/financeiro/CadastroCentroDeCusto" />
				</p:toolbarGroup>
			</p:toolbar>

			<p:dataTable id="custosTable"
				value="#{pesquisaCustosBean.custosList}" var="custo"
				style="margin-top: 20px" emptyMessage="Nenhum custo encontrado."
				rows="20" paginator="true" paginatorAlwaysVisible="false"
				paginatorPosition="bottom">

				<p:column headerText="Nome">
					<h:outputText value="#{custo.nome}" />
				</p:column>


				<p:column style="width: 100px; text-align: center">
					<p:button outcome="/financeiro/CadastroCentroDeCusto" icon="ui-icon-pencil"
						title="Editar">
						<f:param name="custo" value="#{custo.id}" />
					</p:button>
					<p:commandButton icon="ui-icon-trash" title="Excluir"
						oncomplete="confirmacaoExclusao.show()" />
				</p:column>

			</p:dataTable>

		</h:form>

	</ui:define>
</ui:composition>
